*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Logo{
    width: 100%;
    display: flex;
    justify-content: left;
}

.img-logo{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
    filter: drop-shadow(0px 5px #332f2c);
}

header{
    display: flex;
    flex-direction: column;
    background-image: url(/assents/imagenes/design1_image1.jpg);
    background-position: 10% 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

header>h1{ 
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: white;
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
}
header>h2{
    text-align: center;
    margin-top: 390px;
    font-size: 30px;
}

nav{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: red;
    width: 100%;
    height: 30px;
    text-align: center;
} 

nav>a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

a[href="#"]{
    color: yellow;
}

a[href="#"]:hover{
    color: yellow;
}
a:hover{
    color: blue;
    cursor: pointer;
}

.img-hockey{
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 100px;
}
div>article{
    margin-top: 10px;
    margin-left: 350px;
    width: 600px;
    right: 1200px;
    display: block;
    font-size: 20px;
}

.text1{
    margin-top: -400px;
}
.ffinal{
    padding-bottom: 300px;

}

.textabout_1{
    margin-top: -400px;
}
.text3{
    padding-bottom: 300px;
}
.contactos{
    padding-bottom: 300px;
    margin-top: -300px;
    margin-left: 300px;
    width: 600px;
    right: 1200px;
    display: block;
    font-size: 20px;
}

.sangria{
    text-indent: 40px;
}

.sangria_t{
    margin-left: 60px;
}

div>p{
    margin-left: 60px;
}


main>section{
    padding: 50px 100px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 70px;
    background-color: #efefef;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-image: url(https://www.gifsanimados.org/data/media/480/hockey-sobre-hielo-imagen-animada-0026.gif);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.Table_D{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

table{
    background-color: white;
    border: 1px solid black;
    height: 50vh;
    width: 50rem;
    text-align: center;
    caption-side: bottom;
    border-spacing: 0;
}
table, td, th{
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: blue;
    color: white;
}

table td:nth-child(1) {
    background-color: white;
    color: black;
}

section>h3{
    margin: 10px;
    font-size: 40px;
}
th{
    color: white;
    background-color: gray;
}
.title_R{
    text-align: center;
    font-size: 130%;
}
section>article{
    text-align: left;
    margin: 50px;
}

li{ 
    margin: 20px 0;
    list-style-type: decimal;
    list-style-position: inside;
}

.list_letra{
    margin: 0;
    list-style-type: lower-latin;
}
ol>li{
    list-style-position: inside;
    list-style-type: circle;
}
footer{
    border: 2px solid red;
    width: 100%;
    text-align: center;
}